In [86]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

## Read in Data

We begin by reading in the trained parameters for several iteration times shown in their file names.

In [87]:
# Iteration = 1
df_iter1 = pd.read_csv('params_iter=1_eloc=1801.340034_rbm_params.dat', sep='\t', usecols=range(12))
df_iter1

,# a_,b_,W_0,W_1,W_2,W_3,W_4,W_5,W_6,W_7,W_8,W_9
0,-0.077329,-0.006975,-0.021031,-0.031900,-0.044083,-0.059622,-0.054936,-0.043230,-0.038572,-0.047247,-0.048754,-0.045753
1,0.040729,-0.011436,0.023486,0.022682,0.013912,0.030856,0.036388,-0.000333,0.037765,0.010202,0.017463,0.023048
2,0.039624,-0.012847,0.005929,0.000244,0.031181,0.034576,0.012615,0.019789,0.020612,0.036815,0.032313,0.033634
3,-0.054784,0.003229,-0.032569,-0.045802,-0.021364,-0.044685,-0.023076,-0.030261,-0.023782,-0.042242,-0.021776,-0.021579
4,-0.049075,0.010354,-0.021028,-0.022024,-0.033463,-0.021054,-0.027856,-0.029839,-0.034456,-0.035042,-0.030818,-0.026688
5,0.007794,-0.011019,0.004427,0.023582,0.009059,-0.010801,-0.002581,0.015184,-0.007136,0.010312,0.017046,0.010119
6,-0.031968,0.025042,-0.017831,-0.017798,-0.005890,0.002412,-0.006932,-0.021787,-0.017692,-0.005955,0.000216,-0.024143
7,-0.008711,-0.000524,-0.001090,-0.012866,-0.008945,-0.002346,-0.006648,-0.008289,0.002172,-0.000462,0.021581,0.007834
8,0.052784,0.001883,0.020344,0.024800,0.025643,0.021547,0.002502,0.013709,0.021345,0.030578,0.022466,0.026631
9,-0.015925,0.017199,-0.019694,-0.010375,-0.024229,-0.007286,-0.001616,-0.000759,-0.026238,0.007397,-0.012356,-0.014825

In [88]:
# Iteration = 10
df_iter10 = pd.read_csv('params_iter=1_eloc=1801.340034_rbm_params.dat', sep='\t', usecols=range(12))
df_iter10

,# a_,b_,W_0,W_1,W_2,W_3,W_4,W_5,W_6,W_7,W_8,W_9
0,-0.077329,-0.006975,-0.021031,-0.031900,-0.044083,-0.059622,-0.054936,-0.043230,-0.038572,-0.047247,-0.048754,-0.045753
1,0.040729,-0.011436,0.023486,0.022682,0.013912,0.030856,0.036388,-0.000333,0.037765,0.010202,0.017463,0.023048
2,0.039624,-0.012847,0.005929,0.000244,0.031181,0.034576,0.012615,0.019789,0.020612,0.036815,0.032313,0.033634
3,-0.054784,0.003229,-0.032569,-0.045802,-0.021364,-0.044685,-0.023076,-0.030261,-0.023782,-0.042242,-0.021776,-0.021579
4,-0.049075,0.010354,-0.021028,-0.022024,-0.033463,-0.021054,-0.027856,-0.029839,-0.034456,-0.035042,-0.030818,-0.026688
5,0.007794,-0.011019,0.004427,0.023582,0.009059,-0.010801,-0.002581,0.015184,-0.007136,0.010312,0.017046,0.010119
6,-0.031968,0.025042,-0.017831,-0.017798,-0.005890,0.002412,-0.006932,-0.021787,-0.017692,-0.005955,0.000216,-0.024143
7,-0.008711,-0.000524,-0.001090,-0.012866,-0.008945,-0.002346,-0.006648,-0.008289,0.002172,-0.000462,0.021581,0.007834
8,0.052784,0.001883,0.020344,0.024800,0.025643,0.021547,0.002502,0.013709,0.021345,0.030578,0.022466,0.026631
9,-0.015925,0.017199,-0.019694,-0.010375,-0.024229,-0.007286,-0.001616,-0.000759,-0.026238,0.007397,-0.012356,-0.014825

In [89]:
# Iteration = 100
df_iter100 = pd.read_csv('params_iter=100_eloc=4.700954_rbm_params.dat', sep='\t', usecols=range(12))
df_iter100

,# a_,b_,W_0,W_1,W_2,W_3,W_4,W_5,W_6,W_7,W_8,W_9
0,0,0.782439,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0,0.783857,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,1,0.795302,0.782439,0.783857,0.795302,0.787885,0.781271,0.780063,0.793542,0.790752,0.793921,0.795821
3,1,0.787885,0.782439,0.783857,0.795302,0.787885,0.781271,0.780063,0.793542,0.790752,0.793921,0.795821
4,0,0.781271,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,1,0.780063,0.782439,0.783857,0.795302,0.787885,0.781271,0.780063,0.793542,0.790752,0.793921,0.795821
6,1,0.793542,0.782439,0.783857,0.795302,0.787885,0.781271,0.780063,0.793542,0.790752,0.793921,0.795821
7,0,0.790752,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,1,0.793921,0.782439,0.783857,0.795302,0.787885,0.781271,0.780063,0.793542,0.790752,0.793921,0.795821
9,0,0.795821,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [90]:
# Iteration = 1000
df_iter1000 = pd.read_csv('params_iter=1000_eloc=1.487985_rbm_params.dat', sep='\t', usecols=range(12))
df_iter1000

,# a_,b_,W_0,W_1,W_2,W_3,W_4,W_5,W_6,W_7,W_8,W_9
0,1,0.835293,0.835293,0.835263,0.842827,0.834128,0.828495,0.829774,0.841704,0.837974,0.839861,0.842241
1,0,0.835263,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,1,0.842827,0.835293,0.835263,0.842827,0.834128,0.828495,0.829774,0.841704,0.837974,0.839861,0.842241
3,1,0.834128,0.835293,0.835263,0.842827,0.834128,0.828495,0.829774,0.841704,0.837974,0.839861,0.842241
4,0,0.828495,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,1,0.829774,0.835293,0.835263,0.842827,0.834128,0.828495,0.829774,0.841704,0.837974,0.839861,0.842241
6,1,0.841704,0.835293,0.835263,0.842827,0.834128,0.828495,0.829774,0.841704,0.837974,0.839861,0.842241
7,0,0.837974,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,1,0.839861,0.835293,0.835263,0.842827,0.834128,0.828495,0.829774,0.841704,0.837974,0.839861,0.842241
9,0,0.842241,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [91]:
# Iteration = 10000
df_iter10000 = pd.read_csv('params_iter=10000_eloc=2.132031_rbm_params.dat', sep='\t', usecols=range(12))
df_iter10000

,# a_,b_,W_0,W_1,W_2,W_3,W_4,W_5,W_6,W_7,W_8,W_9
0,1,0.851234,0.851234,0.851158,0.851182,0.844251,0.842815,0.844624,0.854158,0.846862,0.848328,0.854398
1,0,0.851158,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0,0.851182,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,1,0.844251,0.851234,0.851158,0.851182,0.844251,0.842815,0.844624,0.854158,0.846862,0.848328,0.854398
4,1,0.842815,0.851234,0.851158,0.851182,0.844251,0.842815,0.844624,0.854158,0.846862,0.848328,0.854398
5,1,0.844624,0.851234,0.851158,0.851182,0.844251,0.842815,0.844624,0.854158,0.846862,0.848328,0.854398
6,0,0.854158,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,0,0.846862,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,1,0.848328,0.851234,0.851158,0.851182,0.844251,0.842815,0.844624,0.854158,0.846862,0.848328,0.854398
9,0,0.854398,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [92]:
# Iteration = 15000
df_iter15000 = pd.read_csv('params_iter=15000_eloc=-0.062899_rbm_params.dat', sep='\t', usecols=range(12))
df_iter15000

,# a_,b_,W_0,W_1,W_2,W_3,W_4,W_5,W_6,W_7,W_8,W_9
0,0,0.859267,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,1,0.862430,0.859267,0.86243,0.862307,0.861729,0.858235,0.853259,0.866138,0.860821,0.861437,0.863912
2,0,0.862307,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0,0.861729,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0,0.858235,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,1,0.853259,0.859267,0.86243,0.862307,0.861729,0.858235,0.853259,0.866138,0.860821,0.861437,0.863912
6,1,0.866138,0.859267,0.86243,0.862307,0.861729,0.858235,0.853259,0.866138,0.860821,0.861437,0.863912
7,0,0.860821,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,1,0.861437,0.859267,0.86243,0.862307,0.861729,0.858235,0.853259,0.866138,0.860821,0.861437,0.863912
9,0,0.863912,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

## Next Steps
* Declare data in the dataframes as parameters: a, b, W
    * a and b are straightforward, W will be require some additional thought
* Plot the wavefunctions for each of these parameters
    * Include iteration and eloc in title of plots

In [93]:
a = df[1:11]
a

,# a_,b_,W_0,W_1,W_2,W_3,W_4,W_5,W_6,W_7,W_8,W_9
1,0.040729,-0.011436,0.023486,0.022682,0.013912,0.030856,0.036388,-0.000333,0.037765,0.010202,0.017463,0.023048
2,0.039624,-0.012847,0.005929,0.000244,0.031181,0.034576,0.012615,0.019789,0.020612,0.036815,0.032313,0.033634
3,-0.054784,0.003229,-0.032569,-0.045802,-0.021364,-0.044685,-0.023076,-0.030261,-0.023782,-0.042242,-0.021776,-0.021579
4,-0.049075,0.010354,-0.021028,-0.022024,-0.033463,-0.021054,-0.027856,-0.029839,-0.034456,-0.035042,-0.030818,-0.026688
5,0.007794,-0.011019,0.004427,0.023582,0.009059,-0.010801,-0.002581,0.015184,-0.007136,0.010312,0.017046,0.010119
6,-0.031968,0.025042,-0.017831,-0.017798,-0.005890,0.002412,-0.006932,-0.021787,-0.017692,-0.005955,0.000216,-0.024143
7,-0.008711,-0.000524,-0.001090,-0.012866,-0.008945,-0.002346,-0.006648,-0.008289,0.002172,-0.000462,0.021581,0.007834
8,0.052784,0.001883,0.020344,0.024800,0.025643,0.021547,0.002502,0.013709,0.021345,0.030578,0.022466,0.026631
9,-0.015925,0.017199,-0.019694,-0.010375,-0.024229,-0.007286,-0.001616,-0.000759,-0.026238,0.007397,-0.012356,-0.014825

In [94]:
b = df[12:22]
b

Empty DataFrame
Columns: [# a_, b_, W_0, W_1, W_2, W_3, W_4, W_5, W_6, W_7, W_8, W_9]
Index: []

In [95]:
df[23:24].shape

(0, 12)

In [96]:
W = df[23]
W

KeyError: 23

* Seperate dataframe from a, and b. Then read dataframe for just W using sep = '\t' so we get a matrix dataframe.

In [ ]:
a=[
-0.211462,
-0.218026,
-0.287148,
-0.214511,
-0.253088,
-0.205865,
-0.279914,
-1.15197,
-1.27362,
1.91344,
]

In [ ]:
a = np.array(a)
a = np.flip(a,0)
a

In [ ]:
b = [
0.384378,
0.387399,
0.373781,
0.399796,
0.418405,
0.394606,
0.411747,
0.401978,
0.389486,
0.406784,
]

In [ ]:
b = np.array(b)
b

In [ ]:
W = [
0.0466012,
0.0377465,
0.0204193,
0.00822383, 
0.0162436,
0.0293437,
0.0272021,  
0.0240795,
0.0167182,
0.0203846,
0.0261156,
0.0284983,
0.0148493,
0.0371249,
0.0448593,
0.00822058,
0.0391975,
0.0175433,
0.0172566,
0.0238009,
0.0146335,
0.0114662,
0.0389499,
0.0467663,
0.0266842,
0.0351467,
0.0278339,
0.049127,
0.0372691,
0.0409566,
0.0291037,
0.0179535,
0.0391517,
0.0196762,
0.0435818,
0.0369135,
0.036128,
0.0230913,
0.0378331,
0.0386971,
0.0317869,
0.0323384,
0.0199003,
0.0345085,
0.0303276,
0.0295048,
0.017865,
0.0215115,
0.0200414,
0.0264188,
0.0352005,
0.0588293,
0.0405227,
0.0223258,
0.0350672,
0.0515795,
0.0216099,
0.0433567,
0.0448669,
0.0363929,
0.0157915,
0.0204458,
0.0282465,
0.0330482,
0.030628,
0.016217,
0.0129328,
0.0253413,
0.0294885,
0.00523952,
-0.57666,
-0.596617,
-0.58512,
-0.588362,
-0.59254,
-0.589999,
-0.575032,
-0.595691,
-0.563867,
-0.577063,
-0.673538,
-0.670591,
-0.662453,
-0.681282,
-0.707265,
-0.68589,
-0.676108,
-0.680358,
-0.689795,
-0.678755,
1.39331,
1.41083,
1.37912,
1.41538,
1.44744,
1.42861,
1.39333,
1.43406,
1.39509,
1.40446]

In [ ]:
len(W)

In [ ]:
W = np.array(W)

In [ ]:
W

In [ ]:
W = W.reshape(10,10)

In [ ]:
W.shape

In [ ]:
W = np.flip(W,0)

In [ ]:
from itertools import product

In [ ]:
sigma = np.zeros((1024,10))

In [ ]:
import numpy
numpy.version.version

In [ ]:
ind = 0
for i in product([0,1], repeat=10):
    sigma[ind,:] =i
    ind+=1

In [ ]:
sigma = np.flip(sigma,1)

In [ ]:
sigma

In [ ]:
x = np.arange(-10+120/1024,110+120/1024, 120/1024)
x

In [ ]:
prob = np.zeros(1024)

In [ ]:
for n in range(1024):
    firstsum = np.dot(sigma[n,:],a)
    productsum = 1
    for j in range(10):
        productsum *= 2*np.cosh(np.dot(W[:,j],sigma[n,:])+ b[j])
    prob[n]= np.exp(firstsum) * productsum

In [ ]:
prob

In [ ]:
plt.plot(x,np.sqrt(prob))
plt.title('Coverged RBM Wavefunction')
plt.ylabel('$\Psi$')
plt.xlabel('x')
plt.axvline(x=0, c='k', label='potential barrier')
plt.axvline(x=100, c='k')
plt.legend(loc=4)
plt.show()

In [ ]:
prob

## Plotting Energy vs. Iteration

In [ ]:
df = pd.read_csv('iter_elocmean.dat', sep=';\t', header=None)
df

In [ ]:
plt.plot(df[0], df[1])
plt.xlim(0,500)
# plt.ylim(0,120)
plt.ylabel('Elocmean')
plt.xlabel('Iteration')
plt.title('Particle in a Box (zoomed out)')
# plt.axhline(y=0, c='k', linestyle='--')
plt.show()

In [ ]:
plt.plot(df[0], df[1])
plt.xlim(50,300)
plt.ylim(0,120)
plt.ylabel('Elocmean')
plt.xlabel('Iteration')
plt.title('Particle in a Box (zoomed in)')
# plt.axhline(y=0, c='k', linestyle='--')
plt.show()

Questions
* Why does the energy not converge exactly, and instead spikes every now and then?
* ~~Once elocmean = 0, all spikes seem to be of the same magnitude~~

## Plotting Ising Results

In [ ]:
df = pd.read_csv('../Ex02_semi_pure/iter_elocmean.dat', sep=';\t', header=None)
df

In [ ]:
plt.plot(df[0], df[1])
plt.title('Original Ising Model')
plt.ylabel('Elocmean')
plt.xlabel('Iteration')
plt.show()